<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
  </head>
  <body>
    <h2>Đăng nhập</h2>

    <p style="color: red" th:if="${errorMessage}" th:text="${errorMessage}"></p>

    <form
      method="post"
      th:action="@{/user/moonblight/login}"
      th:object="${loginRequest}"
    >
      <div>
        <label>Username hoặc Email</label><br />

        <input type="text" th:field="*{login}" />

        <div
          style="color: red"
          th:if="${#fields.hasErrors('login')}"
          th:text="${#fields.errors('login')[0]}"
        ></div>
      </div>

      <br />

      <div>
        <label>Password</label><br />

        <input type="password" th:field="*{password}" />

        <div
          style="color: red"
          th:if="${#fields.hasErrors('password')}"
          th:text="${#fields.errors('password')[0]}"
        ></div>
      </div>

      <br />

      <button type="submit">Đăng nhập</button>
    </form>

    <hr />

    <a th:href="@{/user/moonblight/register}"> Tạo tài khoản mới </a>
  </body>
</html>
