<aside th:fragment="sidebar" class="sidebar">

    <div class="sidebar-title">
        <h2>🌙 Moon Blight Admin</h2>
    </div>

    <hr class="sidebar-divider" />

    <ul class="sidebar-menu">

        <li>
            <a class="sidebar-link" th:href="@{/admin/moonblight/dashboard}">
                Dashboard
            </a>
        </li>

        <li>
            <a class="sidebar-link" th:href="@{/admin/moonblight/list}">
                Accounts
            </a>
        </li>

        <li>
            <a class="sidebar-link" th:href="@{/admin/moonblight/log}">
                Audit Logs
            </a>
        </li>

    </ul>

</aside>