<aside th:fragment="sidebar" class="sidebar">

  <div class="sidebar-title">
    <h2>🌙 Moon Blight CMS</h2>
  </div>

  <hr class="sidebar-divider" />

  <ul class="sidebar-menu">

    <li>
      <a class="sidebar-link" th:href="@{/dashboard/moonblight}"
        th:classappend="${activeMenu == 'dashboard'} ? ' active'">
        Dashboard
      </a>
    </li>

    <li>
      <a class="sidebar-link" th:href="@{/article/moonblight/list}"
        th:classappend="${activeMenu == 'article'} ? ' active'">
        Articles
      </a>
    </li>

    <li>
      <a class="sidebar-link" th:href="@{/story/moonblight/list}" th:classappend="${activeMenu == 'story'} ? ' active'">
        Stories
      </a>
    </li>

    <li>
      <a class="sidebar-link" th:href="@{/world/moonblight/list}" th:classappend="${activeMenu == 'world'} ? ' active'">
        Worlds
      </a>
    </li>

    <li>
      <a class="sidebar-link" th:href="@{/character/moonblight/list}"
        th:classappend="${activeMenu == 'character'} ? ' active'">
        Characters
      </a>
    </li>

    <li>
      <a class="sidebar-link" th:href="@{/faq/moonblight/list}" th:classappend="${activeMenu == 'faq'} ? ' active'">
        FAQ
      </a>
    </li>

    <li>
      <a class="sidebar-link" th:href="@{/contact/blightmoon/list}"
        th:classappend="${activeMenu == 'contact'} ? ' active'">
        Contact
      </a>
    </li>

  </ul>

</aside>