<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Quên mật khẩu</title>
  </head>
  <body>
    <h1>Quên mật khẩu</h1>

    <p style="color: red" th:if="${errorMessage}" th:text="${errorMessage}"></p>

    <form
      th:action="@{/user/moonblight/forgot-password}"
      th:object="${forgotPasswordRequest}"
      method="post"
    >
      <div>
        <label>Email</label>
        <br />

        <input type="email" th:field="*{email}" required />

        <div
          th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}"
          style="color: red"
        ></div>
      </div>

      <br />

      <button type="submit">Gửi mã OTP</button>
    </form>
    <a th:href="@{/user/moonblight/login}"> Đã có tài khoản? Đăng nhập </a>
    <br />
    <a th:href="@{/user/moonblight/register}"> Tạo tài khoản mới </a>
  </body>
</html>
