<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Login</title>

  <link rel="stylesheet" th:href="@{/css/auth.css}">

  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=Cormorant+Garamond+Decorative:wght@700&family=Crimson+Text:wght@400;600&display=swap"
    rel="stylesheet">
</head>

<body>

  <div class="bg-image"></div>

  <!-- card -->
  <div class="layouts">
    <div class="register-card">

      <div class="register-eyebrow">
        MOONBLIGHT ACCOUNT
      </div>

      <h2 class="register-title">Login</h2>

      <div class="register-divider"></div>

      <!-- message -->
      <p class="error-message" th:if="${errorMessage}" th:text="${errorMessage}"></p>
      <p class="success-message" th:if="${successMessage}" th:text="${successMessage}"></p>
      <!-- form -->
      <form th:action="@{/user/moonblight/login}" method="post" th:object="${loginRequest}">

        <!-- username/email -->
        <div class="register-group">
          <label>Username hoặc Email</label>
          <input type="text" th:field="*{login}" />

          <div class="error-message" th:if="${#fields.hasErrors('login')}" th:text="${#fields.errors('login')[0]}">
          </div>
        </div>

        <!-- password -->
        <div class="register-group">
          <label>Password</label>
          <input type="password" th:field="*{password}" />

          <div class="error-message" th:if="${#fields.hasErrors('password')}"
            th:text="${#fields.errors('password')[0]}">
          </div>
        </div>

        <button class="register-btn" type="submit">
          Đăng nhập
        </button>
      </form>

      <hr style="margin: 1rem 0; opacity: 0.2;" />

      <a class="register-link" th:href="@{/user/moonblight/register}">
        Tạo tài khoản mới
      </a>

      <a class="register-link" th:href="@{/user/moonblight/forgot-password}">
        Quên mật khẩu
      </a>

    </div>
  </div>
</body>

</html>