<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Chi tiết tài khoản</title>
  </head>
  <body>
    <div class="layout">
      <th:block th:replace="~{cms/fragments/admin-sidebar :: sidebar}">
      </th:block>

      <div class="content-wrapper">
        <th:block th:replace="~{cms/fragments/header :: header}"> </th:block>

        <main>
          <h1>Chi tiết tài khoản</h1>

          <p
            th:if="${successMessage}"
            th:text="${successMessage}"
            style="color: green"
          ></p>

          <p
            th:if="${errorMessage}"
            th:text="${errorMessage}"
            style="color: red"
          ></p>

          <table border="1">
            <tr>
              <th>ID</th>
              <td th:text="${account.id}"></td>
            </tr>

            <tr>
              <th>Username</th>
              <td th:text="${account.username}"></td>
            </tr>

            <tr>
              <th>Email</th>
              <td th:text="${account.email}"></td>
            </tr>

            <tr>
              <th>Họ tên</th>
              <td th:text="${account.fullName}"></td>
            </tr>

            <tr>
              <th>Vai trò</th>
              <td th:text="${account.role}"></td>
            </tr>

            <!-- <tr>
                    <th>Ngày tạo</th>
                    <td th:text="${account.createdAt}"></td>
                </tr> -->

            <!-- <tr>
              <th>Ngày cập nhật</th>
              <td th:text="${account.updatedAt}"></td>
            </tr> -->

            <tr>
              <th>Trạng thái</th>

              <td>
                <span th:if="${account.active}" style="color: green">
                  Đang hoạt động
                </span>

                <span th:if="${!account.active}" style="color: red">
                  Đã khóa
                </span>
              </td>
            </tr>
          </table>

          <br />

          <!-- CHỜ DUYỆT -->

          <div  th:if="${!account.active and account.role != 'ADMIN'}">
            <form
              th:action="@{/admin/moonblight/account/{id}/approve(id=${account.id})}"
              method="post"
            >
              <button type="submit">Duyệt tài khoản</button>
            </form>
          </div>
          <br />
          <div  th:if="${account.active and account.role != 'ADMIN'}">
            <form
              th:action="@{/admin/moonblight/account/{id}/reject(id=${account.id})}"
              method="post"
            >
              <button type="submit">Khóa tài khoản</button>
            </form>
          </div>
          <br />

          <a th:href="@{/admin/moonblight/list}"> Quay lại danh sách </a>
        </main>
      </div>
    </div>
  </body>
</html>
