<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>400 - Yêu cầu không hợp lệ</title>
    <link rel="stylesheet" th:href="@{/css/error/error.css}" />
  </head>
  <body>
    <h2>400 - Yêu cầu không hợp lệ</h2>

    <p class="error-description">
      Yêu cầu của bạn không hợp lệ hoặc dữ liệu gửi lên không đúng định dạng.
      Vui lòng kiểm tra lại và thử lại.
    </p>
    <div class="error">
      <a class="error-rollback" href="/">Quay lại Trang Chủ</a>
    </div>
  </body>
</html>
